<style>
	body{
		background-color: #070716;
	}
</style>
<div class="container">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

<h2 class="text-center" style="color: #fff;"></h2>
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<%= image_tag "home_banner/img4.jpg" %>
			<div class="carousel-caption">

			</div>
		</div>
<div class="row">
	<div class="col-sm-12 col-md-offset-4 col-md-5 col-lg-offset-4 col-lg-5">
		<div class="text-center">
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 col-md-offset-4 col-md-5 col-lg-offset-4 col-lg-5">
		<div class="text-center">
		</div>
	</div>
</div>
</div>