<style>

	.white-container 
	{
		/*background-color: #ffffff;
		width: 100%;
		margin-left: 0px;*/
	}
	
</style>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

	<h2 class="text-center" style="color: #fff;"></h2>
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<%#= image_tag "home_banner/img4.jpg" %>
			<div class="carousel-caption">

			</div>
		</div>
		<div class="row white-container">
			<div class="col-sm-12 col-md-offset-4 col-md-5 col-lg-offset-4 col-lg-5">
				<div class="text-center">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 col-md-offset-4 col-md-5 col-lg-offset-4 col-lg-5">

			</div>
		</div>
	</div>
</div>