<style>
	body{
		background-color: #070716;
	}
</style>
<div class="container">
<h2 class="text-center" style="color: #fff;">GORIDZ</h2>
<div class="row">
	<div class="col-sm-12 col-md-offset-4 col-md-5 col-lg-offset-4 col-lg-5">
		<div class="text-center">
			<a href="/home/log_in" class="btn-rider">LOGIN AS A RIDER</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 col-md-offset-4 col-md-5 col-lg-offset-4 col-lg-5">
		<div class="text-center">
			<a href="/home/log_in" class="btn-driver">LOGIN AS A DRIVER</a>
		</div>
	</div>
</div>
</div>