		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<%= image_tag "home_banner/img8.jpg" %>
					<div class="carousel-caption">

					</div>
				</div>
			</div>
			<div class="row white-container">
				<div class="text">
					<div class="col-sm-12 col-md-offset-4 col-md-5 col-lg-offset-0 col-lg-12 padding-bottom">
						The Origin of Atithi Hospitality group is the modern version of Mahatma Gandhi’s “Three Wise Monkeys”.  Together the embody principle of "see no evil, hear no evil, speak no evil is replaced by “ The innovative Chef,  The Modern Operations & Creative Sales/Marketing” Business Mantra.
						<br/><br/>
						Atithi is a partnership of 3 Friends who each specialize/lead one of Atithi’s above mentioned Business Mantras but have the common framework where the deep passion for food drives them to make Indian food a great social and emotional experience across the North American Market.
						<br/><br/>
						The Journey to provide the best flavored, tasty but a healthy food across the Mainstream indian dishes started in the cold winter of 2012. Since then, the team has worked on multiple recipies with the appropriate mix of nutrients, array of vegatables/fruits, spices and natural proteins to create standardized  preservatives free appropriate portion size that provides mouth watering flavors at all times yet provide an alternate option for Healthlicious Next Gen.
						<br/><br/>
						The Three Monkeys
						<br/><br/>
						Pradeep Tejwani:
						<br/><br/>
						Hitesh Wadhwani:
						<br/><br/>
						Rohit Nagpal:
					</div>
				</div>
			</div>
		<style>
			.carousel-inner img{
				width:1450px !important;
				height:250px !important;
			}

			.text
			{   
				margin-top:2% !important;
				font-size:20px !important;
				line-height:1.6em !important;

			}
			.white-container 
			{
				background-color: #ffffff;
				width: 100%;
				margin-left: 0px;
			}
			.padding-bottom{
				padding: 20px;
				text-align: justify;
				
			}
		</style>